.cf-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px red solid;
    color: white;
}

.cf-parent .cf-banner{
    display: flex;
}

.cf-parent:hover .cf-banner{
    display:none;
}

.cf-parent{
    position: relative;
}