.cf-hidden{
    display: none;
}

.cf-parent{
    background-color:lightgrey;
    padding: 5px;
    display: inline-block;
}

.cf-parent:hover .cf-hidden{
    display: inline-block;
}

.cf-parent:hover .cf-warning{
    display: none;
}